
<h2>Movies</h2>
<div class="container mt-4">
  <!-- Add Movie Button -->
  <div class="d-flex justify-content-end mb-4">
    <button *ngIf="userRole === 'Admin'" class="btn btn-primary" routerLink="/movies/add">
      <span class="plus-sign">+</span> Add Movie
    </button>
  </div>
  <div class="row g-4">
    <!-- If no movies found -->
    <div class="col-12" *ngIf="movies.length === 0">
      <p class="text-center">No movies found. Add a new movie!</p>
    </div>

    <!-- Movie card for each movie -->
    <div class="col-md-4 col-lg-2" *ngFor="let movie of filteredMovies">
      <div class="card h-100">
        <img [src]="movie.movieImageUrl" class="card-img-top" alt="{{ movie.movieTitle }}">
        <div class="card-body">
          <a class="movie-title nav-link" routerLink="/movies/{{ movie.movieId }}">{{ movie.movieTitle }}</a>
          <div class="movie-info">
            <p class="movie-year">{{ movie.year }}</p>
            <p class="movie-genre">{{ movie.genreName }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

